.today {
    background-color: #f3f3f3!important;
}

.schedule-selcted {
    background-color: #BFEA7C;
}

.font-12 {
    font-size: 12px !important;
}

::ng-deep .mat-mdc-menu-item-text {
    font-size: 12px !important;
    font-family: dana !important;
}

.selected-shift {
    background-color: #F4EDCC !important;
}