.my-card {
    position: relative;
    min-height: 150px;

}

.more-btn {
    position: absolute;
    right: 0;
    top: 13%;
}

.text-right {
    text-align: right;
}

.div-no-image {
    width: 50px;
}

.bg-noData {
    background-color: #e9ecef !important;
}
.div-name{
    white-space: nowrap;
}
.div-code{
    position: absolute;
    left: 0;
    bottom: 1%;
}
.text-right{
    text-align: right!important;
}