
.div-image{
    width: 100px;
    height: 100px;
  
}
.div-main{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.div-text{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}

.div-desc{
    text-align: right;
    color: rgb(58, 61, 66);

}