.text-left {
    text-align: left;
}

.new-btn {
    background-color: #008fd6 !important;
    color: white !important;
    padding: 20px 30px;
}

.cancel-btn {
    background-color: #e94560 !important;
    color: white !important;
    padding: 20px 30px;
}

.date {
    padding-right: 11px !important;
    padding-left: 11px !important;
}