.text-left {
    text-align: left;
}

.div-counter {
    background-color: #2e333c;
}

.div-item {
    margin-top: 1.5px;
    color: #757f91;
}

.text-light {
    color: white !important;
}

.h-45 {
    height: 45.5%;
}

.side-nav{
    width: 100%;
}