.form-control:disabled{    
    background-color: transparent;
    border: none;
}

.text-box-padding{
    padding-right: 5px;
}

.label-caption{
    color: rgba(0,0,0,.54);
}

.caption-horiz{
    padding-top: 7px;
    padding-left: 7px;
}

 .input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-right-radius: .25rem !important; 
    border-bottom-right-radius: .25rem !important; 
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
}

.caption-horiz-ltr{
    padding-right: 7px;
}
.span-icon {
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    color: green;
}

