@media screen and (max-width:992px) {
    .display-sm {
        display: block !important;
    }

    .display-lg {
        display: none !important;
    }
}

@media screen and (min-width:992px) {
    .display-sm {
        display: none !important;
    }

    .display-lg {
        display: block !important;
    }
}